<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= siteTitle %></title>
        <link rel="stylesheet" href="/style.css?<%= new Date().getTime() %>">
    </head>

    <body class="page-wrapper">

        <header class="site-header" role="banner">
            <div class="structure">
                <a href="/" class="logo"><%- partial("_svg/wordmark") %></a>
            </div>
        </header>

        <main class="site-content" role="main">
            <%- yield %>
        </main>

        <footer class="site-footer" role="contentinfo" itemscope itemtype="http://schema.org/Corporation">
            <div class="structure">
                <div class="logo"><%- partial("_svg/logo") %></div>
                <div class="footer-text">
                    <a class="item -link" href="mailto:hello@peroshi.com" itemtype="email contactPoint">hello@peroshi.com</a>
                    <span class="item">&copy; 2015 <span itemtype="name">Peroshi</span></span>
                    <span class="item">All rights reserved</span>
                </div>
                <div class="footer-text">
                    <span class="item">Company Number: <span itemtype="taxID">09352969</span></span>
                </div>
                <div class="footer-text">
                    <span class="item" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">Registered Address: <span itemtype="streetAddress">11 Minns Road</span>, <span itemtype="addressLocality">Grove, Wantage</span>, <span itemtype="addressRegion">Oxfordshire</span>, <span itemtype="postalCode">OX12 7NA</span></span>
                </div>
            </div>
        </footer>

        <% if (environment === "production") { %>
            <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-27606403-2',{'siteSpeedSampleRate': 100});ga('send','pageview');</script>
        <% } %>

    </body>

</html>
