<div class="project-description">
    <div class="structure">

        <h1 class="title"><%= title %></h1>

        <dl class="info">
            <dt>Objective - </dt>
            <dd><%= objective %></dd>
            <dt>Completed - </dt>
            <dd><%= completed %></dd>
            <dt>Live Project - </dt>
            <dd><a href="<%= link %>"><%= display_link %></a></dd>
        </dl>

        <section class="description">
            <%- yield %>
        </section>
    </div>

</div>
